.all-btn {
    width: 230px;
    height: 55px;    
    margin-top: 15px; 
    background: rgb(29, 155, 240);
    border-radius: 27.5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}