.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.navbar-wrapper__container {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.boss__container {
    width: 910px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}