.subscribers {
    display: flex;
    align-items: center;
}

.subscribers__arrow {
    margin-right: 30px;
}

.subscribers__username {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: rgb(0, 0, 0);
}


