.user-about-navbar__list {
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
}

.user-about-navbar__item {
    display: flex;
    justify-content: space-between;
}

.user-about-navbar__img {
    margin-right: 10px;
}

.user-about-navbar__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(29, 161, 242);
}

.user-about-navbar__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    opacity: 0.6;
}